body {
	background-color: #faf6eb;
	color: #999999;
}

.logo {
	width: 35%;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	padding: 15px 0 20px 0;
}

.sub-nav{
    margin: 0 auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

.magellan-nav {
  right: 0;
}

.fixed, .topNav {
	background: #f7e7d8;
	font-size: .95rem;
}

.sub-nav dd.active a {
	background: #dd5f32;
}

.row {
	max-width: 100%;
	padding: 20px;
	margin: 40px 0;
}

.mission, .services, .contact {
	background-color: #cddce1;
}

.about h3, .consultations h3{
	color: #dd5f32;
}

.mission h3, .services h3, .contact h3 {
	color: #faf6eb;
}

.services .medium-2 {
	border-right: 1px solid #faf6eb;
}

img {
	width:50%;
}

footer {
	text-align: center;
}