.logo {
	text-align:center;
}

.fixed {

}

.row {
	max-width: 100%;
	padding: 20px;
	margin: 40px 0;
}

.mission {
	background-color: gray;
}

.sub-nav{
    margin: 0 auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

.magellan-nav {
  right: 0;
}