body {
	background-color: ##F2F2F2
	color: white;
}

.logo {
	width: 45%;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	padding: 10px 0 10px 0;
}

.sub-nav{
    margin: 0 auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

.magellan-nav {
  right: 0;
}

.fixed, .topNav {
	background: rgba(176,216,64,0.5);
	font-size: .95rem;
	color: white;

}

.sub-nav dd.active a {
	background: #383560;
}

.row {
	max-width: 100%;
	padding: 10px;
	margin: 40px 0;
}

.mission, .services {
	margin-top: 60px;
	height:	200px;
}
.mission, .services, .contact {
	background-color: #E6E6E6;
	
}

.mission .columns {
	padding: 40px 25px;
	margin-top: -34px;
	background-color: rgba(207,28,238,0.5);
}

h3 {
	color: #383560;
}

.advising{
	padding: 72px 25px;
	margin-top: -30px;
	margin-right:1px;
	background-color: rgba(207,28,238,0.5);
}

.academic {
	padding: 72px 25px;
	margin-top: -30px;
	margin-right:1px;
	background-color: rgba(252,243,50,0.5);
}

.education {
	padding: 72px 25px;
	margin-top: -30px;
	margin-right:1px;
	background-color: rgba(75,197,206,0.5);
}

.testing {
	padding: 72px 25px;
	margin-top: -30px;
	margin-right:1px;
	background-color: rgba(176,216,64,0.5);
}




img {
	width:50%;
}

footer {
	text-align: center;
}

